* {
  margin: 0;
}

body {
  background-color: #7f8c8d;
}

main {
  font-family: "Roboto", sans-serif;
}

.heading {
  text-align: center;
  color: darkslategrey;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.heading h1 {
  font-size: 50px;
  font-weight: 600;
}

.heading h2 {
  font-size: 25px;
  font-weight: 300;
  text-align: right;
}

.outcome {
  text-align: center;
  color: maroon;
  padding: 130px 0 50px 0;
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weapons {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.weapon {
  width: 200px;
  height: 200px;
  margin: 0px 100px;
  padding: 10px 10px 30px 10px;
  transition: 0.2s;
  cursor: pointer;
}

.submit {
  align-self: center;
  border: 3px solid darkslategray;
  border-radius: 10px;
  font-size: 50px;
  color: darkslategray;
  background-color: rgba(0, 0, 0, 0);
  margin: 50px;
  padding: 5px;
  box-shadow: 0px 3px 5px darkslategray;
  cursor: pointer;
}

.active {
  filter: invert(0.35) sepia(1) saturate(5);
}
